* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 4px;
}

.wrapper-menu {
}
.menu {
  width: 50px;
  height: 10px;
  background: #000;
  margin: 6px 0;
}
.main {
  background-image: url(./img/puntitos.png);
  width: 100%;
  height: 594px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.seccion-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 42px;
}
.seccion-dos {
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: #fafafa;
  padding: 55px 32px;
}
.seccion-tres {
  height: 1375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
}
.seccion-cuatro {
  height: 660px;
  background-color: #141414;
  color: #fafafa;
  padding: 0px 20px;
}
.label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.submit-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffd953;
  color: #141414;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}
.segundo-subtitulo {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.sub-subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}
.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container-dos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.elementos-container-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icono {
  width: 80px;
  height: 80px;
}
.icono-dos {
  width: 138px;
  height: 128px;
  margin-bottom: 19px;
}

.sub-titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.imagen {
  width: auto;
  height: 380px;
}
