* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  max-height: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 8px 20px;
}

.menu-desktop {
  width: 428px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: hidden;
}
.nav-font {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 900px) {
  .wrapper-menu {
    display: none;
  }
  .menu-desktop {
    visibility: visible;
  }

  .nav-font {
    font-size: 24px;
  }
}

.menu {
  width: 50px;
  height: 10px;
  background: #000;
  margin: 6px 0;
}
.main {
  background-image: url(./img/puntitos.png);
  width: 100%;
  height: 594px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.seccion-uno {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 42px;
  width: 100%;
}

@media (min-width: 900px) {
  .seccion-uno {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .main {
    height: 100%;
    padding-right: 84px;
  }
}
.seccion-dos {
  height: 538px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  color: #fafafa;
  padding: 55px 32px;
  width: 100%;
}
.seccion-tres {
  height: 1375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
}
.seccion-cuatro {
  display: flex;
  flex-direction: column;
  height: 660px;
  background-color: #141414;
  color: #fafafa;
  padding: 0px 20px;
  width: 100%;
}
.label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.submit-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: #ffd953;
  color: #141414;
  border-radius: 4px;
  width: 100%;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
}
.segundo-subtitulo {
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.sub-subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}
.parrafo {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 312px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.container-dos {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.elementos-container-dos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icono {
  width: 80px;
  height: 80px;
}

.icono-oculto {
  width: 0px;
  height: 0px;
}

.segundo-subtitulo-oculto {
  font-family: "Open Sans", sans-serif;
  font-size: 0px;
  font-weight: 700;
  visibility: hidden;
}

@media (min-width: 900px) {
  .seccion-dos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-left: 20px;
  }
  .icono {
    display: none;
  }
  .icono-oculto {
    width: 210px;
    height: 210px;
    margin-top: 45px;
  }
  .parrafo {
    max-width: 330px;
    font-size: 24px;
    margin-top: 25px;
    text-align: center;
  }

  .seccion-tres {
    height: 800px;
    justify-content: space-around;
  }

  .segundo-subtitulo {
    display: none;
  }
  .container-dos {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .segundo-subtitulo-oculto {
    font-size: 48px;
    visibility: visible;
  }
  .seccion-cuatro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  .form {
    align-items: flex-start;
    align-content: stretch;
    justify-content: center;
    margin-left: 45px;
  }
}

.icono-dos {
  width: 138px;
  height: 128px;
  margin-bottom: 19px;
}

.sub-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.titulo {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  max-width: 290px;
}

.imagen {
  width: auto;
  height: 380px;
  max-width: 100%;
}

.footer {
  background-color: #dbdbdb;
  height: 493px;
  width: 100%;
}
.icono-footer {
  width: 80px;
  height: 80px;
}
@media (min-width: 900px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.contenedor-footer {
  padding: 40px 20px;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.logo-redes {
  width: 29px;
  height: 29px;
}

.anchor {
  padding-bottom: 30px;
}
